*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Roboto Slab", serif;
  line-height: 2.25rem;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  text-align: center;
  background: #dd5e89; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7bb97, #dd5e89);
  background: linear-gradient(to right, #f7bb97, #dd5e89);
}

.main {
  border: none;
  max-width: 90%;
  margin-inline: auto;
  border-radius: 8px;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.subtitle {
  font-style: italic;
  font-weight: 300;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  line-height: 2rem;
}

a {
  color: inherit;
}

@media (min-width: 570px) {
  .main {
    max-width: 100%;
    padding: 1rem 2rem;
  }
}
